USE [master]
GO
/****** Object:  Database [MusztangSE]    Script Date: 2026. 03. 06. 20:14:25 ******/
CREATE DATABASE [MusztangSE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MusztangSE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\MusztangSE.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MusztangSE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\MusztangSE_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MusztangSE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MusztangSE]
GO
/****** Object:  Table [dbo].[Csapat]    Script Date: 2026. 03. 06. 20:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Csapat](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nev] [nvarchar](255) NOT NULL,
	[Kategoria] [nvarchar](100) NOT NULL,
	[Paros] [bit] NOT NULL,
	[EdzoId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Edzo]    Script Date: 2026. 03. 06. 20:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Edzo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nev] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Eredmeny]    Script Date: 2026. 03. 06. 20:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Eredmeny](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[VersenyId] [int] NOT NULL,
	[CsapatId] [int] NOT NULL,
	[Helyezes] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Felhasznalo]    Script Date: 2026. 03. 06. 20:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Felhasznalo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FelhasznaloAzonosito] [nvarchar](50) NOT NULL,
	[JelszoHash] [nvarchar](255) NULL,
	[PasswordSetAt] [datetime] NULL,
	[Aktiv] [bit] NOT NULL,
	[SzerepkorId] [int] NOT NULL,
	[EdzoId] [int] NULL,
	[TagId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[FelhasznaloAzonosito] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SportoloiAdatok]    Script Date: 2026. 03. 06. 20:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SportoloiAdatok](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TagId] [int] NOT NULL,
	[TagsagiStatusz] [bit] NOT NULL,
	[VersenyengedelySzam] [nvarchar](50) NULL,
	[TagsagKezdete] [date] NULL,
	[SportorvosiEngedely] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Szerepkor]    Script Date: 2026. 03. 06. 20:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Szerepkor](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nev] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Nev] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TagCsapat]    Script Date: 2026. 03. 06. 20:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TagCsapat](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TagId] [int] NOT NULL,
	[CsapatId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tagok]    Script Date: 2026. 03. 06. 20:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tagok](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nev] [nvarchar](255) NOT NULL,
	[Szuletes] [date] NOT NULL,
	[AnyjaNeve] [nvarchar](255) NOT NULL,
	[Lakcim] [nvarchar](255) NOT NULL,
	[Telefonszam] [nvarchar](20) NULL,
	[Email] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Verseny]    Script Date: 2026. 03. 06. 20:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Verseny](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nev] [nvarchar](255) NOT NULL,
	[Datum] [date] NOT NULL,
	[Hely] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Felhasznalo] ADD  DEFAULT ((1)) FOR [Aktiv]
GO
ALTER TABLE [dbo].[Csapat]  WITH CHECK ADD  CONSTRAINT [FK_Csapat_Edzo] FOREIGN KEY([EdzoId])
REFERENCES [dbo].[Edzo] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Csapat] CHECK CONSTRAINT [FK_Csapat_Edzo]
GO
ALTER TABLE [dbo].[Eredmeny]  WITH CHECK ADD  CONSTRAINT [FK_Eredmeny_Csapat] FOREIGN KEY([CsapatId])
REFERENCES [dbo].[Csapat] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Eredmeny] CHECK CONSTRAINT [FK_Eredmeny_Csapat]
GO
ALTER TABLE [dbo].[Eredmeny]  WITH CHECK ADD  CONSTRAINT [FK_Eredmeny_Verseny] FOREIGN KEY([VersenyId])
REFERENCES [dbo].[Verseny] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Eredmeny] CHECK CONSTRAINT [FK_Eredmeny_Verseny]
GO
ALTER TABLE [dbo].[Felhasznalo]  WITH CHECK ADD  CONSTRAINT [FK_Felhasznalo_Edzo] FOREIGN KEY([EdzoId])
REFERENCES [dbo].[Edzo] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Felhasznalo] CHECK CONSTRAINT [FK_Felhasznalo_Edzo]
GO
ALTER TABLE [dbo].[Felhasznalo]  WITH CHECK ADD  CONSTRAINT [FK_Felhasznalo_Szerepkor] FOREIGN KEY([SzerepkorId])
REFERENCES [dbo].[Szerepkor] ([Id])
GO
ALTER TABLE [dbo].[Felhasznalo] CHECK CONSTRAINT [FK_Felhasznalo_Szerepkor]
GO
ALTER TABLE [dbo].[Felhasznalo]  WITH CHECK ADD  CONSTRAINT [FK_Felhasznalo_Tag] FOREIGN KEY([TagId])
REFERENCES [dbo].[Tagok] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Felhasznalo] CHECK CONSTRAINT [FK_Felhasznalo_Tag]
GO
ALTER TABLE [dbo].[SportoloiAdatok]  WITH CHECK ADD  CONSTRAINT [FK_SportoloiAdatok_Tagok] FOREIGN KEY([TagId])
REFERENCES [dbo].[Tagok] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SportoloiAdatok] CHECK CONSTRAINT [FK_SportoloiAdatok_Tagok]
GO
ALTER TABLE [dbo].[TagCsapat]  WITH CHECK ADD  CONSTRAINT [FK_Tag_Csapat_Csapat] FOREIGN KEY([CsapatId])
REFERENCES [dbo].[Csapat] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TagCsapat] CHECK CONSTRAINT [FK_Tag_Csapat_Csapat]
GO
ALTER TABLE [dbo].[TagCsapat]  WITH CHECK ADD  CONSTRAINT [FK_Tag_Csapat_Tag] FOREIGN KEY([TagId])
REFERENCES [dbo].[Tagok] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TagCsapat] CHECK CONSTRAINT [FK_Tag_Csapat_Tag]
GO
ALTER TABLE [dbo].[Felhasznalo]  WITH CHECK ADD  CONSTRAINT [CHK_Felhasznalo_Edzo_Tag] CHECK  ((NOT ([EdzoId] IS NOT NULL AND [TagId] IS NOT NULL)))
GO
ALTER TABLE [dbo].[Felhasznalo] CHECK CONSTRAINT [CHK_Felhasznalo_Edzo_Tag]
GO
USE [master]
GO
