/* Betűtípus import */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Serif', serif;
}

html, body {
    margin: 0;
    padding: 0;
    background: #0f0f0f;
    scroll-behavior: smooth;
    overflow-x: hidden;
    color: white;
}

/*Fö oldal */
body {
    overflow-x: hidden;
    color: white;
}



/* HEADER */
header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center; /* Menüt középre */
    background: rgba(15,15,15,0.85);
    backdrop-filter: blur(12px);
    padding: 0 20px;
}

/* LOGO */
.logo {
    position: absolute;
    left: 20px; /* Bal felső sarok */
    top: 20px;
    transform: none; /* Nincs középre igazítás */
    z-index: 1100;
}

    .logo img {
        height: 60px;
        border-radius: 30px;
        transition: transform 0.3s;
    }

        .logo img:hover {
            transform: scale(1.05);
        }

/* DESKTOP NAV */
.nav-center {
    display: flex;
    gap: 20px;
    background: rgba(50,50,50,0.6);
    padding: 10px 30px;
    border-radius: 30px;
    backdrop-filter: blur(10px);
    transition: all 0.3s;
    position: relative;
    z-index: 1001;
    justify-content: center; /* Menüpontok középre */
}

    .nav-center a {
        color: white;
        text-decoration: none;
        font-weight: 500;
        font-size: 1rem;
        padding: 8px 15px;
        border-radius: 20px;
        transition: all 0.3s;
    }

        .nav-center a:hover,
        .nav-center a.active {
            color: #ff3b3b;
            background: rgba(255, 59, 59, 0.1);
            transform: translateY(-2px);
            box-shadow: 0 4px 10px rgba(255,59,59,0.3);
        }

/* HAMBURGER */
.hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    padding: 8px;
    z-index: 1102;
    position: absolute;
    right: 20px;
    top: 32px;
}

    .hamburger span {
        display: block;
        width: 28px;
        height: 3px;
        background: white;
        border-radius: 2px;
        transition: all 0.3s;
    }

    .hamburger.aktiv span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .hamburger.aktiv span:nth-child(2) {
        opacity: 0;
    }

    .hamburger.aktiv span:nth-child(3) {
        transform: rotate(-45deg) translate(6px, -6px);
    }

/* MOBIL MENÜ */
.mobil-menu {
    display: none;
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(15,15,15,0.98);
    backdrop-filter: blur(20px);
    flex-direction: column;
    padding: 20px;
    gap: 8px;
    z-index: 999;
    border-radius: 15px;
}

    .mobil-menu.nyitva {
        display: flex;
    }

    .mobil-menu a {
        color: white;
        text-decoration: none;
        font-size: 1.1rem;
        padding: 12px 16px;
        border-radius: 10px;
        transition: all 0.3s;
        text-align: center;
    }

        .mobil-menu a:hover {
            background: rgba(255,59,59,0.1);
        }

/* RESZPONZÍV */
@media (max-width: 900px) {
    .nav-center {
        display: none;
    }

    .hamburger {
        display: flex;
    }
}

/* Section alap beálitásai */

.section {
    padding: 120px 80px;
    position: relative;
}

/* Föoldal és teljes képernyö (hero) tartalom */
.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

    .hero .tartalom {
        margin-top: 100px;
        position: relative;
        z-index: 2;
    }

/* Világos / sötét */
.light {
    background: #f5f5f5;
    color: #111;
}

.dark {
    background: #111;
    color: white;
}

/* Video rész  */
.video-container {
    position: absolute;
    inset: 0;
    z-index: 0;
}

    .video-container video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .video-container::after {
        content: "";
        position: absolute;
        inset: 0;
        background: rgba(0, 0, 0, 0.7);
    }

/* szöveg rész*/
#cim {
    font-size: 40px;
    font-weight: bold;
    font-family: 'IBM Plex Serif', serif;
}

.feher {
    color: white;
}

.piros {
    color: red;
}


.wave-divider {
    position: relative;
    margin-top: -2px;
    line-height: 0;
    background: #000;
}

    .wave-divider svg {
        display: block;
        width: 100%;
        height: 80px;
    }


/* Rólunk section rész img,tartalom,gomb*/
.rolunk-section {
    position: relative;
    background: linear-gradient(180deg, #0f0f0f, #1a1a1a);
    color: #ddd;
}

.rolunk-tartalom {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    gap: 60px;
    align-items: center;
}

.rolunk-kep img {
    width: 80%;
    border-radius: 4px;
}

.rolunk-szoveg p {
    margin-bottom: 20px;
    line-height: 1.6;
    font-family: 'IBM Plex Serif', serif;
}

.rolunk-gomb {
    background: red;
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    text-decoration: none;
}

.rolunkcim {
    font-size: 50px;
    margin-left: auto 0;
    font-family: GOLDMAN;
}

/* Edzök szekció */

.edzok-section {
    background: #0f0f0f;
    text-align: center;
    padding-bottom: 0;
}

.edzok-cim {
    font-size: 40px;
    margin-bottom: 60px;
    letter-spacing: 2px;
    font-family: GOLDMAN;
}

/* Kártyák elrendezése */

.edzok-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    margin-bottom: 80px;
}

/* Egy kártya */

.edzo-kartya {
    background: #9c9c9c;
    padding: 30px;
    border-radius: 6px;
    width: 330px;
    transition: 0.3s;
}


    .edzo-kartya img {
        width: 100%;
        height: 380px;
        object-fit: cover;
        border-radius: 4px;
        margin-bottom: 20px;
    }


    .edzo-kartya h3 {
        font-size: 20px;
        margin-bottom: 8px;
        color: white;
        font-family: 'IBM Plex Serif', serif;
    }

    .edzo-kartya p {
        font-size: 15px;
        color: white;
        font-family: 'IBM Plex Serif', serif;
    }


    /* Hover effekt ez emeli ki a képet */

    .edzo-kartya:hover {
        transform: translateY(-5px);
    }

/* Alsó sáv */

.edzok-footer {
    background: #9c9c9c;
    color: #111;
    display: flex;
    justify-content: space-between;
    padding: 30px 80px;
    flex-wrap: wrap;
}

    .edzok-footer p {
        margin: 5px 0;
        font-size: 14px;
        color: white;
        font-family: 'IBM Plex Serif', serif;
    }
/* Középső rész */
.footer-kozep {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Elérhetőségek cím */
#eler {
    font-family: 'Goldman', sans-serif;
    font-size: 22px;
    margin-bottom: 15px;
    color: white;
}

/* ikonok */
.ikonok {
    display: flex;
    gap: 15px;
}

#fb {
    width: 45px;
    height: 45px;
    margin-bottom: 35px;
    margin-top: 15px;
    object-fit: contain;
    cursor: pointer;
    transition: 0.3s;
}

#insta {
    width: 28px;
    height: 28px;
    margin-bottom: 35px;
    margin-top: 22px;
    object-fit: contain;
    cursor: pointer;
    transition: 0.3s;
}

.icon:hover {
    transform: scale(1.1);
}


/* Lábléc */
.site-footer {
    width: 100%;
    background-color: #0f0f0f;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    padding: 20px 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

/* Tartalom középre */
.footer-content {
    text-align: center;
    font-family: 'IBM Plex Serif', serif;
}



/* Név */
.footer-title {
    color: #ffffff;
    font-size: 0.95rem;
    font-weight: 600;
    margin: 0;
}

/* Alcím */
.footer-subtitle {
    color: #9a9a9a;
    font-size: 0.85rem;
    margin-top: 4px;
}



/* HELYSZÍNEK */

.helyszinek-section {
    background: #111;
    color: white;
    padding: 120px 80px;
}

.helyszin-blokk {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
    padding: 60px 0;
}

.helyszin-szoveg {
    flex: 1;
    text-align: center;
}

    .helyszin-szoveg h3 {
        font-size: 28px;
        margin-bottom: 15px;
        font-family: 'Goldman', sans-serif;
    }

    .helyszin-szoveg p {
        line-height: 1.6;
        font-size: 18px;
    }

.helyszin-terkep {
    flex: 1;
}

    .helyszin-terkep iframe {
        width: 100%;
        border-radius: 6px;
    }

.helyszinek-section hr {
    border: none;
    height: 1px;
    background: rgba(255,255,255,0.2);
}

.forditott {
    flex-direction: row-reverse;
}

.hely-cim {
    font-size: 40px;
    margin-bottom: 60px;
    letter-spacing: 2px;
    font-family: GOLDMAN;
}



/* Eredmények */

.eredmenyek-section {
    background: linear-gradient(90deg, #0f0f0f, #1a1a1a);
    text-align: left;
}

.eredmenyek-cim {
    font-size: 40px;
    margin-bottom: 60px;
    font-family: 'Goldman', sans-serif;
    letter-spacing: 2px;
}


.eredmenyek-grid {
    max-width: 900px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.eredmeny-kartya {
    background: #9c9c9c;
    padding: 35px;
    border-radius: 6px;
    position: relative;
    cursor: pointer;
    transition: 0.3s ease;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

    .eredmeny-kartya:hover {
        transform: translateY(-4px);
        background: #b3b3b3;
    }

.kartya-kicsi {
    font-size: 14px;
    opacity: 0.8;
    margin-bottom: 10px;
}

.eredmeny-kartya h3 {
    font-size: 28px;
    font-weight: 500;
}

.kartya-nyil {
    position: absolute;
    top: 20px;
    right: 20px;
    background: black;
    color: white;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}


.kartya-gomb {
    position: absolute;
    top: 20px;
    right: 20px;
    background: black;
    color: white;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s ease;
}

    .kartya-gomb:hover {
        background: #ff3b3b;
        transform: scale(1.1);
    }




/* Reszponzív */
@media (max-width: 900px) {
    .eredmenyek-grid {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 900px) {
    .helyszin-blokk {
        flex-direction: column;
        text-align: center;
    }

    .forditott {
        flex-direction: column;
    }
}

/* Tablet */
@media (max-width: 768px) {
    .footer-logo {
        width: 45px;
    }

    .footer-title {
        font-size: 0.9rem;
    }

    .footer-subtitle {
        font-size: 0.8rem;
    }
}

/* Mobil */
@media (max-width: 480px) {
    .site-footer {
        padding: 15px 10px;
    }

    .footer-logo {
        width: 40px;
    }

    .footer-title {
        font-size: 0.85rem;
    }

    .footer-subtitle {
        font-size: 0.75rem;
    }
}

@media (max-width: 900px) {
    .edzok-container {
        flex-direction: column;
        align-items: center;
    }

    .edzok-footer {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }
}

@media (max-width: 900px) {
    .rolunk-tartalom {
        grid-template-columns: 1fr;
    }
}



