* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

html {
    scroll-behavior: smooth;
}
/*Fö oldal */
body {
    margin: 0;
    overflow-x: hidden;
    color: white;
}




/* fejléc */

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    z-index: 1000;
}

/* Logo */
.logo {
    position: absolute;
    left: 40px;
    top: 20px;
}

    .logo img {
        height: 60px;
        border-radius: 30px;
    }

/* navigácios sáv */
.nav-center {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(50, 50, 50, 0.6);
    border-radius: 30px;
    padding: 10px 30px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: 500;
}

    nav a:hover {
        color: #ff3b3b;
    }

/* Section alap beálitásai */

.section {
    padding: 120px 80px;
    position: relative;
}

/* Föoldal és teljes képernyö (hero) tartalom */
.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.hero .tartalom {
        margin-top: 100px;
}

/* Világos / sötét */
.light {
    background: #f5f5f5;
    color: #111;
}

.dark {
    background: #111;
    color: white;
}

/* Video rész  */
.video-container {
    position: absolute;
    inset: 0;
    z-index: -1;
}

.video-container video {
        width: 100%;
        height: 100%;
        object-fit: cover;
}

.video-container::after {
        content: "";
        position: absolute;
        inset: 0;
        background: rgba(0, 0, 0, 0.7);
}

/* szöveg rész*/
#cim {
    font-size: 40px;
    font-weight: bold;
}

.feher {
    color: white;
}

.piros {
    color: red;
}

/* Rólunk section rész img,tartalom,gomb*/
.rolunk-section {
    position: relative;
    background: linear-gradient(180deg, #0f0f0f, #1a1a1a);
    color: #ddd;
}

.rolunk-tartalom {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    gap: 60px;
    align-items: center;
}

.rolunk-kep img {
    width: 80%;
    border-radius: 4px;
}

.rolunk-szoveg p {
    margin-bottom: 20px;
    line-height: 1.6;
}

.rolunk-gomb {
    background: red; 
    color: white; 
    border-radius: 10px; 
    padding: 10px 20px; 
    text-decoration: none;
}
.rolunkcim {
    font-size: 50px;
    margin-left: auto 0;
    font-family: Arial, sans-serif;
}

/* Edzök szekció */

.edzok-section {
    background: #0f0f0f;
    text-align: center;
    padding-bottom: 0;
}

.edzok-cim {
    font-size: 40px;
    margin-bottom: 60px;
    letter-spacing: 2px;
}

/* Kártyák elrendezése */

.edzok-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    margin-bottom: 80px;
}

/* Egy kártya */

.edzo-kartya {
    background: #9c9c9c; 
    padding: 30px;
    border-radius: 6px;
    width: 330px;
    transition: 0.3s;
}


.edzo-kartya img {
    width: 100%;
    height: 380px; 
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: 20px;
}


.edzo-kartya h3 {
    font-size: 20px;
    margin-bottom: 8px;
    color: #111;
}

.edzo-kartya p {
    font-size: 15px;
    color: #333;
}


/* Hover effekt ez emeli ki a képet */

.edzo-kartya:hover {
    transform: translateY(-5px);
}

/* Alsó sáv */

.edzok-footer {
    background: #9c9c9c;
    color: #111;
    display: flex;
    justify-content: space-between;
    padding: 30px 80px;
    flex-wrap: wrap;
}

.edzok-footer p {
    margin: 5px 0;
    font-size: 14px;
}

/* Reszponzív */

@media (max-width: 900px) {
    .edzok-container {
        flex-direction: column;
        align-items: center;
    }

    .edzok-footer {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }
}
@media (max-width: 900px) {
    .rolunk-tartalom {
        grid-template-columns: 1fr;
    }
}
